<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kwon_younghoon.udt_meeting">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="우당탕-미팅"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".udt_meeting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CustomDialog_frie" />
        <activity android:name=".Main" />
        <activity android:name=".information" />
        <activity android:name=".CustomDialog_inf" />
        <activity android:name=".CustomDialog_set" />
        <activity android:name=".CustomDialog_join" />
        <activity android:name=".CustomDialog_addR" />
        <activity android:name=".CustomDialog_showR" />
        <activity android:name=".ChattingRoom"></activity>
    </application>

</manifest>